.like-heading {
  width: 80% !important;
  margin-top: 4.5rem;
}
.liked-video-container {
  display: grid;
  width: 80%;
  margin: 1rem 0rem 0rem 2rem;
  grid-template-columns: 2fr 0.3fr 0.3fr;

  /* border: 1px solid red; */
}
.liked-video-left,
.liked-video-right,
.liked-video-mid {
  border: 1px solid var(--line-color);
  cursor: pointer;
}
.liked-video-mid,
.liked-video-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.liked-video-right i {
  font-size: 1.2rem;
}
.individual-right-videos-desc {
  position: relative;
}
.like-count {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  background-color: whitesmoke;
  color: #4992d3;
  border-radius: 50%;
  border: 1px solid var(--line-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: sans-serif;

}




  @media screen and (max-width: 800px) {
    .like-heading {
      width: 90% !important;
    }

.liked-video-container {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr;


  }
  .liked-video-container {
    display: grid;
   margin: 1rem auto ;
   margin-bottom: 6rem;
 
  
    /* border: 1px solid red; */
  }
  .liked-video-right,
.liked-video-mid {
  height: 3rem;
}
}
