.individualVideo {
  margin-top: 4rem;
}
.indi-video {
  width: 80%;
  margin: auto;
}
.indi-cta {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.6rem;
}
.indi-cta h3 {
  border: 1px solid var(--line-color);
  padding: 0rem 0.7rem;
}
.indi-cta h3:hover {
  background-color: rgb(233, 227, 221);
}
@media screen and (max-width: 800px) {
  .indi-video {
    width: 90%;
    margin: auto;
  }
  .individual-videos-of-playList-container-left-mid2 {
    display: block;
  }
  .individual-videos-of-playList-container-left-mid2-icons{
    width: 90%;
  }
}
