/* login */
.bg-wallper {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -moz-background-size: cover;

  -o-background-size: cover;
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: black;
}

.login-bg-wallper {
  background-image: url(https://i.ibb.co/fk3f9cm/do-sharp-1.jpg);
  /* filter: blur(50%);
  filter: blur(3px); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-wallper{
  background-image: url(https://i.ibb.co/YyzPpGm/162061729748188260.jpg);
  display: flex;
  align-items: center;
  justify-content: center;

}
.login-card {
  filter: blur(0) !important;
  width: 80%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border-top-right-radius:2rem;
}
.signup-card{
  
  filter: blur(0) !important;
  width: 35%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border-top-right-radius: 4rem;
  padding:.5rem .2rem
}

.login-card-left {
  /* border: 1px solid red; */
  position: relative;
}
.login-card-left-heading {
  position: absolute;
  left: 5%;
  top: 10%;
  color: white;
}
.login-card-left-heading h1 {
  font-size: 2rem;
  width: 75%;
  font-family: var(--font-sans-serif);
  line-height: 2.5rem;
  margin: 0 0 0.3rem;
  padding-right: 0;
  color: #bbbb4b;
}
.login-card-left-desc {
  position: absolute;
  left: 8%;
  top: 43%;
  color: white;
}
.login-card-left-desc ul li {
  list-style: circle !important;
  font-family: sans-serif;
  line-height: 2rem;
}
.login-card-right {
  /* border: 1px solid red; */
  flex: 1;
}
.login-card-left img {
  filter: brightness(60%);
  max-width: 100%;
  object-fit: cover;
  max-width: 98%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* login card right */
.login-card-right h1 {
  width: 100%;

  font-size: 1.5rem;
  text-align: center;
  padding-top: 0.3rem;
  padding-left: 1.5rem;
  /* width: 80%; */
  font-family: var(--font-sans-serif);
  line-height: 2.3rem;
  margin: 0 0 0.1rem;
  padding-right: 0;
}
.login-card-right p {
  text-align: center;
  color: #777b80;
  font-size: 14px;
  padding-top: 0rem;
  padding-left: 1.5rem;
  line-height: 1.5rem;
}
.mini-info-login {
  text-align: center;
  color: #777b80;
  font-size: 14px;
  display: block;

  line-height: 1.5rem;
}
.login-card-right form {
  padding: 1rem 1rem 0rem 1rem;
}

.login-card-right {
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
}
.login-card-right form .form-top input {
  padding: 0.4rem 0.3rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 1px solid var(--line-color);
}
.sign-up-form-top input{
  width: 90%;
}
.login-card-right form .form-mid input {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 90%;
  border-radius: 5px;
  padding: 0.5rem 0.3rem;
  outline: none;
  border: none;
  border: 1px solid var(--line-color);
}
.login-card-right form input[type="checkbox"] {
  margin-left: 15%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}
.login-card-right button {
  display: block;
  margin-left: 1.2rem;
  margin-top: 0.5rem;
  width: 90%;
  color: white;
  background-color: black;
  border: none;
  outline: none;
  padding: 1rem 0rem;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid black;
}
.login-card-right button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
/* login validation */
form input:optional {
  border-color: gray;
}

input:required:valid {
  border: 1px solid green !important;
}

input:required:focus:valid {
  background: url("https://www.flaticon.com/svg/vstatic/svg/845/845646.svg?token=exp=1618463396~hmac=aa4060e40e24a633ace3236a6f966a0e")
    no-repeat 95% 50%;
  border-color: green !important;
  background-size: 25px;
}

input:focus:invalid {
  background: url("https://www.flaticon.com/svg/vstatic/svg/1828/1828843.svg?token=exp=1618463445~hmac=13132351f29c82dd61cd177844221aac")
    no-repeat 95% 50%;
  border:1px solid red !important;
  border:1px solid red !important;
  background-size: 25px;
}
/* custom error handler */
/* error handlers */
.error-div-input{
  /* border: 1px solid var(--line-color); */
  width:90%;
  /* margin:auto; */
  display: flex;
  justify-content: space-around;
 padding-top: .3rem;
  }
  .error-handler-input{
    font-size: 13px;
  }
  .error{
    color: red !important;
  }
  .sucess{
    color: green !important;
  }
  .fa-exclamation-circle,.fa-check-circle{
    margin-left: .5rem;
  }
  .password-error{
    width:50%;
    margin: auto;
    /* border:1px solid var(--line-color); */
    text-align: center;
  }

/* mobile responsiveness */
@media screen and (max-width: 800px) {
  .bg-wallper {
    height: 125vh;
  }
  .login-card {
    margin-top:6rem;
    width: 90%;
    margin-bottom: 12rem;
  }
  .login-card-left-heading h1 {
    font-size: 1.5rem;
    width: 100%;
    font-family: var(--font-sans-serif);
    line-height: 2.2rem;
    margin: 0rem 0rem 0rem 0rem;
    padding-right: 0;
    color: #bbbb4b;
  }
  .login-card-left-heading {
    position: absolute;
    left: 5%;
    top: 1%;
    color: white;
  }
  .login-card-left-desc {
    position: absolute;
    left: 8%;
    top: 50%;
    color: white;
  }
  .login-card-left-desc ul li {
    list-style: circle !important;
    font-family: sans-serif;
    line-height: 1.5rem;
  }
  .login-card-left img {
    filter: brightness(60%);
    max-width: 100%;
    object-fit: cover;
    max-width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
 

}
